<!DOCTYPE html>
{% block content %}
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=11,Edge,chrome=1">
        <title>NLPEC</title>

        {% load static %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/mainCSS.css' %}" rel="stylesheet" type="text/css">
        {#        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">#}
        {#        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">#}
    </head>
    <body>

    {#    heading   #}
    <div>
        <header class="d-flex justify-content-center">Natural Language Processing Educational Chatbot</header>

        {% if action == "actionUpdate" %}
            <h3 class="d-flex justify-content-center" id="action_update"> Course Update</h3>
        {% else %}
            <h3 class="d-flex justify-content-center" id="action_update"> Course Registration</h3>
        {% endif %}

        <div class="alert alert-success text-center" role="alert">
            ☑ <strong id="current_login_name">{{ current_login }}</strong> is successfully logged in.
        </div>
        <span id="courseReg_infoId" class="d-none">{{ course_info.COURSE_INFO_ID }}</span>
    </div>
    <hr>

    <form class="courseReg_form form container">
        <div class="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="courseReg_courseName"><span class="text-danger">*</span>Course Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="courseReg_courseName"
                           placeholder="e.g.Data Structures" value="{{ course_info.COURSE_NAME }}">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" class="col-sm-2 col-form-label" for="courseReg_courseCode"><span class="text-danger">*</span>Course
                Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="courseReg_courseCode"
                       placeholder="e.g.CS3334" value="{{ course_info.COURSE_CODE }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" class="col-sm-2 col-form-label" for="courseReg_creditUnit"><span class="text-danger">*</span>Credit
                Unit</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="courseReg_creditUnit"
                       placeholder="e.g. 3" value="{{ course_info.CREDIT_UNIT }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_geArea"><span class="text-danger">*</span>GE Proposed Area</label>
            <div class="col-sm-10">
                <select class="form-control" id="courseReg_geArea">
                    {% for key, value in ge_proposed_area.items %}
                        {% if key == course_info.GE_PROPOSED_AREA %}
                            <option value="{{ key }}" selected>{{ value }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endif %}
                    {% endfor %}

                    {#                    <option value="0">Not GE</option>#}
                    {#                    <option value="1">1</option>#}
                    {#                    <option value="2">2</option>#}
                    {#                    <option value="3">3</option>#}
                </select>
            </div>
        </div>

        {#            <div class="d-flex flex-row">#}

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_courseStartDay"><span class="text-danger">*</span>Start Day Of The Course </label>
            <div class="col-sm-10">
                <input type="date" class="form-control"
                       id="courseReg_courseStartDay" value="{{ course_info.course_start_date_st }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_academicYear">Academic
                Year</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="courseReg_academicYear"
                       placeholder="Academic year" disabled="true"
                       value="{{ course_info.ACADEMIC_YEAR_FROM }} - {{ course_info.ACADEMIC_YEAR_TO }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_academicSemester">Academic
                Semester</label>
            <div class="col-sm-10">
                <select class="form-control" id="courseReg_academicSemester" disabled="true">
                    <option disabled selected value=""> --</option>
                    {% for key in academic_semester %}
                        {% if key == course_info.ACADEMIC_SEMESTER %}
                            <option value="{{ key }}" selected>{{ key }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endif %}
                    {% endfor %}
                    {#                #}
                    {#                    <option value="A">A</option>#}
                    {#                    <option value="B">B</option>#}
                    {#                    <option value="Summer">Summer</option>#}
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_mediumInstruction"><span class="text-danger">*</span>Medium
                of Instruction</label>
            <div class="col-sm-10">
                <select class="form-control" id="courseReg_mediumInstruction">
                <option disabled selected value=""> --</option>
                    {% for key in medium %}
                        {% if key == course_info.MEDIUM_OF_INSTRUCTION %}
                            <option value="{{ key }}" selected>{{ key }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endif %}
                    {% endfor %}
                    {#                    <option value="English">English</option>#}
                    {#                    <option value="Chinese">Chinese</option>#}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" class="col-sm-2 col-form-label" for="courseReg_mediumAsm"><span class="text-danger">*</span>Medium of
                Assessment(s)</label>
            <div class="col-sm-10">
                <select class="form-control" id="courseReg_mediumAsm">
                    <option disabled selected value=""> --</option>
                    {% for key in medium %}
                        {% if key == course_info.MEDIUM_OF_ASSESSMENT %}
                            <option value="{{ key }}" selected>{{ key }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endif %}
                    {% endfor %}
                    {#                    <option value="English">English</option>#}
                    {#                    <option value="Chinese">Chinese</option>#}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" class="col-sm-2 col-form-label"
                   for="courseReg_lecturer"><span class="text-danger">*</span>Lecturer(s)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="courseReg_lecturer"
                       value="{{ course_info.TEACHER_LECTURER }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_ta">Teaching Assistant(s)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="courseReg_ta" value="{% if course_info.TEACHER_TA != None %}{{ course_info.TEACHER_TA }}{% endif %}">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_prerequisites">Prerequisites</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="courseReg_prerequisites"
                       placeholder="e.g. CS2310 or CS2311 or CS2312" value="{% if course_info.PREREQUISITES != None %}{{ course_info.PREREQUISITES }}{% endif %}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_precursors">Precursors</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="courseReg_precursors"
                       placeholder="e.g. CS2310 or CS2311 or CS2312" value="{% if course_info.PRECURSORS != None %}{{ course_info.PRECURSORS }}{% endif %}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_equivalentCourses">Equivalent Courses</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="courseReg_equivalentCourses"
                       placeholder="e.g. CS2310 or CS2311 or CS2312" value="{% if course_info.EQUIVALENT_COURSES != None %}{{ course_info.EQUIVALENT_COURSES }}{% endif %}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_exclusiveCourses">Exclusive Courses</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="courseReg_exclusiveCourses"
                       placeholder="e.g. CS2310 or CS2311 or CS2312" value="{% if course_info.EXCLUSIVE_COURSES != None %}{{ course_info.EXCLUSIVE_COURSES }}{% endif %}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_courseDesp"><span class="text-danger">*</span>Course Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="courseReg_courseDesp">{% if course_info.COURSE_DESP != None %}{{ course_info.COURSE_DESP }}{% endif %}</textarea>
            </div>
        </div>

        <hr>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_haveTut"><span class="text-danger">*</span>Have Tutorial</label>
            <div class="col-sm-10">
                <select class="form-control" id="courseReg_haveTut">
                    <option disabled selected value=""> --</option>
                    {% for key in yes_no %}
                        {% if key == course_info.HAVE_TUTORIAL %}
                            <option value="{{ key }}" selected>{{ key }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endif %}
                    {% endfor %}
                    {#                    <option value="Y">Yes</option>#}
                    {#                    <option value="N">No</option>#}
                </select>
            </div>
        </div>
        <div class="form-group row d-none courseReg_tutDesp">
            <label class="col-sm-2 col-form-label" for="courseReg_tutDesp">Tutorial Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="courseReg_tutDesp">{{ course_info.TUTORIAL_DESP }}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="courseReg_haveAsm"><span class="text-danger">*</span>Have Assessment(s)</label>
            <div class="col-sm-10">
                <select class="form-control" id="courseReg_haveAsm">
                    <option disabled selected value=""> --</option>
                    {% for key in yes_no %}
                        {% if key == course_info.HAVE_ASSESSMENTS %}
                            <option value="{{ key }}" selected>{{ key }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endif %}
                    {% endfor %}
                    {#                    <option value="Y">Yes</option>#}
                    {#                    <option value="N">No</option>#}
                </select>
            </div>
        </div>
        {#            <button class="button btn-outline-primary d-none" id="courseReg_addAsm">+ Add</button>#}
        <div class="d-none" id="courseReg_AsmBlock">
            {% for asmData in course_assessments %}
                <div class="asmSection">
                    <span class="font-weight-bold text-white bg-primary p-2">#{{ forloop.counter }}</span>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="courseReg_asmType{{ forloop.counter }}">Assessment Type</label>
                        <div class="col-sm-10">
                            <input type="text" class="courseReg_asm{{ forloop.counter }} form-control"
                                   id="courseReg_asmType{{ forloop.counter }}"
                                   value="{% if asmData != None %}{{ asmData.ASSESSMENT_TYPE }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting{{ forloop.counter }}">Weighting(%)</label>
                        <div class="col-sm-10"><input type="number" class="form-control courseReg_asm{{ forloop.counter }}"
                                                      id="courseReg_asmWeighting{{ forloop.counter }}"
                                                      value="{% if asmData != None %}{{ asmData.WEIGHTING }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate{{ forloop.counter }}">Submit Date</label>
                        <div class="col-sm-10"><input type="date" class="form-control courseReg_asm{{ forloop.counter }}"
                                                      id="courseReg_asmSubmitDate{{ forloop.counter }}"
                                                      value="{% if asmData != None %}{{ asmData.SUBMIT_DATE }}{% endif %}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="courseReg_asmDetails{{ forloop.counter }}">Details</label>
                        <div class="col-sm-10">
                        <textarea data-type="courseReg_asm{{ forloop.counter }}" class="form-control courseReg_asm{{ forloop.counter }}"
                                  id="courseReg_asmDetails{{ forloop.counter }}">{% if asmData != None %}{{ asmData.DETAILS}}{% endif %}</textarea>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#2</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType2">Assessment Type</label>#}
            {#                    <div class="col-sm-10">#}
            {#                        <input type="text" class="form-control courseReg_asm2" id="courseReg_asmType2"#}
            {#                               value="{% if forloop.counter == 2 %}{{ asmData.ASSESSMENT_TYPE }}{% endif %}">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting2">Weighting(%)</label>#}
            {#                    <div class="col-sm-10">#}
            {#                        <input type="number" class="form-control courseReg_asm2" id="courseReg_asmWeighting2">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate2">Submit Date</label>#}
            {#                    <div class="col-sm-10"><input type="date" class="form-control courseReg_asm2"#}
            {#                                                  id="courseReg_asmSubmitDate2">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails2">Details</label>#}
            {#                    <div class="col-sm-10"><textarea class="form-control courseReg_asm2"#}
            {#                                                     id="courseReg_asmDetails2"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#3</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType3">Assessment Type</label>#}
            {#                    <div class="col-sm-10">#}
            {#                        <input type="text" class="form-control courseReg_asm3" id="courseReg_asmType3"#}
            {#                               value="{% if forloop.counter == 3 %}{{ asmData.ASSESSMENT_TYPE }}{% endif %}">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting3">Weighting(%)</label>#}
            {#                    <div class="col-sm-10"><input type="number" class="form-control courseReg_asm3"#}
            {#                                                  id="courseReg_asmWeighting3">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate3">Submit Date</label>#}
            {#                    <div class="col-sm-10"><input type="date" class="form-control courseReg_asm3"#}
            {#                                                  id="courseReg_asmSubmitDate3">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails3">Details</label>#}
            {#                    <div class="col-sm-10"><textarea class="form-control courseReg_asm3"#}
            {#                                                     id="courseReg_asmDetails3"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#4</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType4">Assessment Type</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_asm4"#}
            {#                                                  id="courseReg_asmType4">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting4">Weighting(%)</label>#}
            {#                    <div class="col-sm-10"><input type="number" class="form-control courseReg_asm4"#}
            {#                                                  id="courseReg_asmWeighting4">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate4">Submit Date</label>#}
            {#                    <div class="col-sm-10"><input type="date" class="form-control courseReg_asm4"#}
            {#                                                  id="courseReg_asmSubmitDate4">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails4">Details</label>#}
            {#                    <div class="col-sm-10"><textarea class="form-control courseReg_asm4"#}
            {#                                                     id="courseReg_asmDetails4"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#5</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType5">Assessment Type</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_asm5"#}
            {#                                                  id="courseReg_asmType5">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting5">Weighting(%)</label>#}
            {#                    <div class="col-sm-10"><input type="number" class="form-control courseReg_asm5"#}
            {#                                                  id="courseReg_asmWeighting5">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate5">Submit Date</label>#}
            {#                    <div class="col-sm-10"><input type="date" class="form-control courseReg_asm5"#}
            {#                                                  id="courseReg_asmSubmitDate5">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails5">Details</label>#}
            {#                    <div class="col-sm-10"><textarea class="form-control courseReg_asm5"#}
            {#                                                     id="courseReg_asmDetails5"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#6</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType6">Assessment Type</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_asm6"#}
            {#                                                  id="courseReg_asmType6">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting6">Weighting(%)</label>#}
            {#                    <div class="col-sm-10"><input type="number" class="form-control courseReg_asm6"#}
            {#                                                  id="courseReg_asmWeighting6">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate6">Submit Date</label>#}
            {#                    <div class="col-sm-10"><input type="date" class="form-control courseReg_asm6"#}
            {#                                                  id="courseReg_asmSubmitDate6">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails6">Details</label>#}
            {#                    <div class="col-sm-10"><textarea class="form-control courseReg_asm6"#}
            {#                                                     id="courseReg_asmDetails6"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#7</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType7">Assessment Type</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_asm7"#}
            {#                                                  id="courseReg_asmType7">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting7">Weighting(%)</label>#}
            {#                    <div class="col-sm-10"><input type="number" class="form-control courseReg_asm7"#}
            {#                                                  id="courseReg_asmWeighting7">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate7">Submit Date</label>#}
            {#                    <div class="col-sm-10"><input type="date" class="form-control courseReg_asm7"#}
            {#                                                  id="courseReg_asmSubmitDate7">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails7">Details</label>#}
            {#                    <div class="col-sm-10"><textarea class="form-control courseReg_asm7"#}
            {#                                                     id="courseReg_asmDetails7"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#8</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType8">Assessment Type</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_asm8"#}
            {#                                                  id="courseReg_asmType8">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting8">Weighting(%)</label>#}
            {#                    <div class="col-sm-10"><input type="number" class="form-control courseReg_asm8"#}
            {#                                                  id="courseReg_asmWeighting8">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate8">Submit Date</label>#}
            {#                    <div class="col-sm-10"><input type="date" class="form-control courseReg_asm8"#}
            {#                                                  id="courseReg_asmSubmitDate8">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails8">Details</label>#}
            {#                    <div class="col-sm-10"><textarea class="form-control courseReg_asm8"#}
            {#                                                     id="courseReg_asmDetails8"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#9</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType9">Assessment Type</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_asm9"#}
            {#                                                  id="courseReg_asmType9">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting9">Weighting(%)</label>#}
            {#                    <div class="col-sm-10"><input type="number" class="form-control courseReg_asm9"#}
            {#                                                  id="courseReg_asmWeighting9">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate9">Submit Date</label>#}
            {#                    <div class="col-sm-10"><input type="date" class="form-control courseReg_asm9"#}
            {#                                                  id="courseReg_asmSubmitDate9">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails9">Details</label>#}
            {#                    <div class="col-sm-10"><textarea class="form-control courseReg_asm9"#}
            {#                                                     id="courseReg_asmDetails9"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#10</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmType10">Assessment Type</label>#}
            {#                    <div class="col-sm-10">#}
            {#                        <input type="text" class="form-control courseReg_asm10"#}
            {#                               id="courseReg_asmType10">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmWeighting10">Weighting(%)</label>#}
            {#                    <div class="col-sm-10">#}
            {#                        <input type="number" class="form-control courseReg_asm10"#}
            {#                               id="courseReg_asmWeighting10">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmSubmitDate10">Submit Date</label>#}
            {#                    <div class="col-sm-10">#}
            {#                        <input type="date" class="form-control courseReg_asm10"#}
            {#                               id="courseReg_asmSubmitDate10">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_asmDetails10">Details</label>#}
            {#                    <div class="col-sm-10">#}
            {#                            <textarea class="form-control courseReg_asm10"#}
            {#                                      id="courseReg_asmDetails10"></textarea>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        {#        {% endfor %}#}
        <hr>
        {#            <button class="button btn-outline-primary">+ Add</button>#}
        <div>
            {% for syllabusData in course_syllabus %}
                <div class="">
                    <span class="font-weight-bold text-white bg-primary p-2">#{{ forloop.counter }}</span>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus{{ forloop.counter }}">Course Syllabus/Chapter
                            Title</label>
                        <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus{{ forloop.counter }}"
                                                      id="courseReg_courseSyllabus{{ forloop.counter }}" value="{% if syllabusData != None %}{{ syllabusData.COURSE_SYLLABUS }}{% endif %}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="courseReg_courseDescription{{ forloop.counter }}">Course Syllabus
                            Description</label>
                        <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus{{ forloop.counter }}"
                                                          id="courseReg_courseDescription{{ forloop.counter }}">{% if syllabusData != None %}{% if syllabusData.COURSE_SYLLABUS_DESP != None %}{{ syllabusData.COURSE_SYLLABUS_DESP }}{% endif %}{% endif %}</textarea></div>
                    </div>
                </div>
            {% endfor %}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#2</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus2">Course Syllabus/Chapter#}
            {#                        Title</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus2"#}
            {#                                                  id="courseReg_courseSyllabus2">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseDescription2">Course Syllabus#}
            {#                        Description</label>#}
            {#                    <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus2"#}
            {#                                                      id="courseReg_courseDescription2"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#3</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus3">Course Syllabus/Chapter#}
            {#                        Title</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus3"#}
            {#                                                  id="courseReg_courseSyllabus3">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseDescription3">Course Syllabus#}
            {#                        Description</label>#}
            {#                    <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus3"#}
            {#                                                      id="courseReg_courseDescription3"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#4</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus4">Course Syllabus/Chapter#}
            {#                        Title</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus4"#}
            {#                                                  id="courseReg_courseSyllabus4">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseDescription4">Course Syllabus#}
            {#                        Description</label>#}
            {#                    <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus4"#}
            {#                                                      id="courseReg_courseDescription4"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#5</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus5">Course Syllabus/Chapter#}
            {#                        Title</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus5"#}
            {#                                                  id="courseReg_courseSyllabus5">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseDescription5">Course Syllabus#}
            {#                        Description</label>#}
            {#                    <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus5"#}
            {#                                                      id="courseReg_courseDescription5"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#6</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus6">Course Syllabus/Chapter#}
            {#                        Title</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus6"#}
            {#                                                  id="courseReg_courseSyllabus6">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseDescription6">Course Syllabus#}
            {#                        Description</label>#}
            {#                    <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus6"#}
            {#                                                      id="courseReg_courseDescription6"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#7</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus7">Course Syllabus/Chapter#}
            {#                        Title</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus7"#}
            {#                                                  id="courseReg_courseSyllabus7">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseDescription7">Course Syllabus#}
            {#                        Description</label>#}
            {#                    <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus7"#}
            {#                                                      id="courseReg_courseDescription7"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#8</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus8">Course Syllabus/Chapter#}
            {#                        Title</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus8"#}
            {#                                                  id="courseReg_courseSyllabus8">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseDescription8">Course Syllabus#}
            {#                        Description</label>#}
            {#                    <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus8"#}
            {#                                                      id="courseReg_courseDescription8"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="">#}
            {#                <span class="font-weight-bold text-white bg-primary p-2">#9</span>#}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus9">Course Syllabus/Chapter#}
            {#                        Title</label>#}
            {#                    <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus9"#}
            {#                                                  id="courseReg_courseSyllabus9">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="form-group row">#}
            {#                    <label class="col-sm-2 col-form-label" for="courseReg_courseDescription9">Course Syllabus#}
            {#                        Description</label>#}
            {#                    <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus9"#}
            {#                                                      id="courseReg_courseDescription9"></textarea></div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        {#        <div class="">#}
        {#            <span class="font-weight-bold text-white bg-primary p-2">#10</span>#}
        {#            <div class="form-group row">#}
        {#                <label class="col-sm-2 col-form-label" for="courseReg_courseSyllabus10">Course Syllabus/Chapter#}
        {#                    Title</label>#}
        {#                <div class="col-sm-10"><input type="text" class="form-control courseReg_syllabus10"#}
        {#                                              id="courseReg_courseSyllabus10">#}
        {#                </div>#}
        {#            </div>#}
        {#        #}
        {##}
        {#            <div class="form-group row">#}
        {#                <label class="col-sm-2 col-form-label" for="courseReg_courseDescription10">Course Syllabus#}
        {#                    Description</label>#}
        {#                <div class="col-sm-10"> <textarea class="form-control courseReg_syllabus10"#}
        {#                                                  id="courseReg_courseDescription10"></textarea>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        </div>
        </div>

        {% if action == "actionUpdate" %}
            <button type="button" id="btn_courseUpdate" class="btn btn-warning text-white">Update</button>
        {% endif %}
        <button type="button" id="btn_courseDuplicate" class="btn btn-primary">Create</button>
        <button type="button" id="btn_courseRegClear" class="btn btn-info">Clear</button>

    </form>
    </div>
    {% csrf_token %}
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    {#    <script src="{% static 'jquery-ui.min.js' %}"></script>#}
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.md5.js' %}"></script>

    {#    <script src="{% static 'bootstrap-select.min.js' %}"></script>#}
    <script src="{% static 'courseRegistration.js' %}" defer></script>


    </body>

    </html>
{% endblock %}
